[Desktop Entry]
Name=Opera
Name[pl]=Opera
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
Comment=World fastest web browser
Comment[pl]=Najszybsza przeglądarka WWW na świecie
Icon=opera.xpm
Exec=opera
Terminal=false
Categories=Network;WebBrowser;
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
