[Desktop Entry]
Name=Opera
Name[pl]=Opera
Name[af]=opera
Name[eo]=Opero
Name[zu]=I Opera
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
GenericName[bs]=Web preglednik
GenericName[de]=Web-Browser
GenericName[eo]=TTT-rigardilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fi]=WWW-selain
GenericName[fr]=Un navigateur web
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[nl]=webbrowser
GenericName[nn]=Nettlesar
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador
GenericName[ro]=Navigator de web
GenericName[sl]=Spletni brskalnik
GenericName[ven]=Buronza ya Webu
GenericName[xh]=Umkhangeli Zincwadi Zokubhaliweyo
GenericName[zu]=Umkhangeli zincwadi we Web
Comment=World fastest web browser
Comment[pl]=Najszybsza przeglądarka WWW na świecie
Icon=opera.xpm
Exec=opera
Terminal=false
Categories=Network;WebBrowser;
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
